button{
    height: 3rem;
    width: 20rem;
    font-size: 1.2rem;
    background-color: rgb(35, 29, 59);
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.preferences-container {
    margin: 3rem auto;
    display: flex;
    width: 90vw;
    flex-direction: column;
    align-items: center;
}